.css-18rkyk9::-webkit-scrollbar {
    width: 5px;
}
.css-18rkyk9::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
}
.css-18rkyk9::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
}